In [1]:
import pandas as pd
import os

In [2]:
url = "https://raw.githubusercontent.com/vicKibira/walmart_data-analysis/main/Walmart.csv"
output_url = "/walmart_sales.csv"

In [3]:
os.system(f" wget {url} - O {output_url}")

In [4]:
import csv

In [5]:
filename = 'Walmart.csv'
columns = []
rows = []

In [6]:
with open (filename, 'r', encoding='utf-8') as f:
    csvreader = csv.reader(f)
    fields = next(csvreader)
    for row in csvreader:
        rows.append(row)

df = pd.DataFrame(rows, columns=fields)

In [7]:
print(df)

     Store        Date Weekly_Sales Holiday_Flag Temperature Fuel_Price  \
0        1  05-02-2010    1643690.9            0       42.31      2.572
1        1  12-02-2010   1641957.44            1       38.51      2.548
2        1  19-02-2010   1611968.17            0       39.93      2.514
3        1  26-02-2010   1409727.59            0       46.63      2.561
4        1  05-03-2010   1554806.68            0        46.5      2.625
...    ...         ...          ...          ...         ...        ...
6430    45  28-09-2012    713173.95            0       64.88      3.997
6431    45  05-10-2012    733455.07            0       64.89      3.985
6432    45  12-10-2012    734464.36            0       54.47          4
6433    45  19-10-2012    718125.53            0       56.47      3.969
6434    45  26-10-2012    760281.43            0       58.85      3.882

              CPI Unemployment
0     211.0963582        8.106
1     211.2421698        8.106
2     211.2891429        8.106
3     211.3196429        8.106
4     211.3501429        8.106
...           ...          ...
6430  192.0135577        8.684
6431  192.1704115        8.667
6432  192.3272654        8.667
6433  192.3308542        8.667
6434  192.3088989        8.667

[6435 rows x 8 columns]

In [8]:
df = pd.read_csv('Walmart.csv', nrows=100)

In [9]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [10]:
df.dtypes

Store             int64
Date             object
Weekly_Sales    float64
Holiday_Flag      int64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
dtype: object

In [11]:
from sqlalchemy import create_engine

In [12]:
postgres_url = "postgresql://root:root@localhost:5432/walmart_db"
engine = create_engine(postgres_url)

In [13]:
engine.connect()

In [14]:
print(pd.io.sql.get_schema(df, name='walmart'))

CREATE TABLE "walmart" (
"Store" INTEGER,
  "Date" TEXT,
  "Weekly_Sales" REAL,
  "Holiday_Flag" INTEGER,
  "Temperature" REAL,
  "Fuel_Price" REAL,
  "CPI" REAL,
  "Unemployment" REAL
)

In [15]:
df.columns

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

In [16]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf

In [17]:
conf = SparkConf()
conf.set('spark.jars','postgresql-42.7.3.jar')

In [18]:
spark = SparkSession.builder \
        .master("local[1]") \
        .appName("local upload") \
        .config(conf=conf) \
        .config("spark.executor.memory","4g") \
        .config("spark.executor.cores","3") \
        .config("spark.cores.max","3") \
        .enableHiveSupport() \
        .getOrCreate()

24/04/24 12:32:28 WARN Utils: Your hostname, codespaces-d68a7c resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/04/24 12:32:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/04/24 12:32:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [19]:
df = spark.read.options(header='true',sep=',') \
               .csv('Walmart.csv')

In [20]:
df.show()

+-----+----------+------------+------------+-----------+----------+-----------+------------+
|Store|      Date|Weekly_Sales|Holiday_Flag|Temperature|Fuel_Price|        CPI|Unemployment|
+-----+----------+------------+------------+-----------+----------+-----------+------------+
|    1|05-02-2010|   1643690.9|           0|      42.31|     2.572|211.0963582|       8.106|
|    1|12-02-2010|  1641957.44|           1|      38.51|     2.548|211.2421698|       8.106|
|    1|19-02-2010|  1611968.17|           0|      39.93|     2.514|211.2891429|       8.106|
|    1|26-02-2010|  1409727.59|           0|      46.63|     2.561|211.3196429|       8.106|
|    1|05-03-2010|  1554806.68|           0|       46.5|     2.625|211.3501429|       8.106|
|    1|12-03-2010|  1439541.59|           0|      57.79|     2.667|211.3806429|       8.106|
|    1|19-03-2010|  1472515.79|           0|      54.58|      2.72| 211.215635|       8.106|
|    1|26-03-2010|  1404429.92|           0|      51.45|     2.732|211.0180424|       8.106|
|    1|02-04-2010|  1594968.28|           0|      62.27|     2.719|210.8204499|       7.808|
|    1|09-04-2010|  1545418.53|           0|      65.86|      2.77|210.6228574|       7.808|
|    1|16-04-2010|  1466058.28|           0|      66.32|     2.808|   210.4887|       7.808|
|    1|23-04-2010|  1391256.12|           0|      64.84|     2.795|210.4391228|       7.808|
|    1|30-04-2010|  1425100.71|           0|      67.41|      2.78|210.3895456|       7.808|
|    1|07-05-2010|  1603955.12|           0|      72.55|     2.835|210.3399684|       7.808|
|    1|14-05-2010|   1494251.5|           0|      74.78|     2.854|210.3374261|       7.808|
|    1|21-05-2010|  1399662.07|           0|      76.44|     2.826|210.6170934|       7.808|
|    1|28-05-2010|  1432069.95|           0|      80.44|     2.759|210.8967606|       7.808|
|    1|04-06-2010|  1615524.71|           0|      80.69|     2.705|211.1764278|       7.808|
|    1|11-06-2010|  1542561.09|           0|      80.43|     2.668|211.4560951|       7.808|
|    1|18-06-2010|  1503284.06|           0|      84.11|     2.637|211.4537719|       7.808|
+-----+----------+------------+------------+-----------+----------+-----------+------------+
only showing top 20 rows

In [21]:
df.schema

StructType([StructField('Store', StringType(), True), StructField('Date', StringType(), True), StructField('Weekly_Sales', StringType(), True), StructField('Holiday_Flag', StringType(), True), StructField('Temperature', StringType(), True), StructField('Fuel_Price', StringType(), True), StructField('CPI', StringType(), True), StructField('Unemployment', StringType(), True)])

In [22]:
df.printSchema()

root
 |-- Store: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Weekly_Sales: string (nullable = true)
 |-- Holiday_Flag: string (nullable = true)
 |-- Temperature: string (nullable = true)
 |-- Fuel_Price: string (nullable = true)
 |-- CPI: string (nullable = true)
 |-- Unemployment: string (nullable = true)

In [25]:
df.write.format("jdbc") \
  .options(url="jdbc:postgresql://172.18.0.3:5432/walmart_db",
           dbtable="public.walmart_sales_data",
           user="root",
           password="root",
           driver="org.postgresql.Driver") \
  .mode("overwrite") \
  .save()